<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <title th:replace="${title}">博客管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/blog.css" th:href="@{/css/blog.css}" type="text/css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
    <script src="../static/js/blog.js" th:src="@{/js/blog.js}"></script>

</head>
<body>

<div th:fragment="nav(n)">
    <nav class="ui inverted attached segment m-padded-tb-mini">
        <div class="ui container">
            <div class="ui inverted stackable secondary menu">
                <a href="/admin/blogs"><h2 class="ui teal header item">博客后台管理</h2></a>
                <a href="#" th:href="@{/admin/blogs}" class="item m-mobile-hide" th:classappend="${n == 1} ? 'active'"><i class="home icon"></i>博客</a>
                <a href="#" th:href="@{/admin/types}" class="item m-mobile-hide" th:classappend="${n == 2} ? 'active'"><i class="idea icon"></i>分类</a>
                <a href="#" th:href="@{/admin/tags}" class="item m-mobile-hide" th:classappend="${n == 3} ? 'active'"><i class="tags icon"></i>标签</a>
                <div th:if="${session.user} != null" class="right m-mobile-hide menu">
                    <div class="ui dropdown item">
                        <div>
                            <img src="https://picsum.photos/id/1005/100/100"
                                 th:src="${session.user.avatar}" class="ui avatar image">
                            <span th:text="${session.user.nickname}"></span>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="ui menu">
                            <a href="/" th:href="@{/}" target="_blank" class="item">回到主页</a>
                            <a th:if="${session.user.type} != 2" href="#" th:href="@{/user/modify}" target="_blank" class="item">修改资料</a>
                            <a href="#" th:href="@{/user/logout}" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/publish}" class="item" th:classappend="${n == 5} ? 'active brown'">发布</a>
                <a href="#" th:href="@{/admin/blogs}" class="item" th:classappend="${n == 1} ? 'active brown'">列表</a>
            </div>
        </div>
    </div>
</div>


<footer th:fragment="footer" class="ui inverted segment m-padded-tb-large" style="margin: 0">
    <div class="ui center aligned container">
        <div class="ui inverted stackable divided grid">
            <div class="two wide column">
                <div class="item">
                    <img src="../../static/images/xuenai.png" th:src="@{/images/xuenai.png}" class="ui centered rounded image" style="width: 11em">
                </div>
            </div>
            <div class="two wide column">
                <img src="../static/images/dalaoshi.png" th:src="@{/images/dalaoshi.png}" class="ui centered rounded image"
                     style="width: 11em; height: 8em">
<!--                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>-->
<!--                <div class="ui inverted vertical link list m-text-thin m-text-spaced m-opacity-mini">-->
<!--                    <a href="#" class="item">用户故事</a>-->
<!--                    <a href="#" class="item">用户故事</a>-->
<!--                    <a href="#" class="item">用户故事</a>-->
<!--                </div>-->
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted vertical link list m-text-thin m-text-spaced m-opacity-mini">
                    <p class="item"><i class="envelope icon"></i> chenxingyu@bupt.edu.cn</p>
                    <p class="item"><i class="qq icon"></i> 328515942</p>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">个性签名</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">孤高所以至高，所谓真正的英雄就是一个人。因为孤高所以强大。
                    没有持有羁绊也就是说没有必须守护的东西。必需守护的东西换言之就是弱点。
                    就是因为有弱点才会失败。因此没有弱点，没有必须守护的东西，和别人没有联系的人才是最强的...</p>
            </div>
        </div>

        <div class="ui inverted section divider"></div>
        <p class="item m-text-thin m-text-spaced m-opacity-mini">大老师Copyright@没有期待就没有失望 没有羁绊就不会受伤</p>
    </div>
</footer>

</body>

</body>
</html>